<div class="row">
    
    <div class="col-sm-4">
        <h1>Edit Category</h1>
        <form action="/admin/categories/edit/{{categories._id}}?_method=PUT" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="Enter Title" class="form-control"  value="{{categories.name}}">
            </div>

            <button class="btn btn-primary">Edit Category</button>
        </form>
    </div>
</div>